.feed-body {
    margin-left: 30vw;
  }
  
  .scrollable-content {
    overflow-y: auto;
    height: 100vh; /* Adjust the height as needed */
  }
  
  @media (max-width: 900px) {
    .feed-body {
      margin-left: 13; /* No margin on smaller screens */
      width: 100%; /* Full width on smaller screens */
    }
  }
  